@page
@model MegaDeskRazor.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <p>
        <a class="btn btn-success site-left" asp-page="Create">Create New</a>
    </p>
    <form class="site-right" asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="btn btn-secondary site-button" asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                <a class="btn btn-secondary site-button" asp-page="./Index" asp-route-sortOrder="@Model.CustomerSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuotePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Delivery)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery.ShippingName)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
